@import '../../Assets/styles/shared';
@import '../../Assets/styles/shared';

.blog-post {
    padding: 2rem;
    display: flex;
    flex-direction: column;

    h1 {
        padding-left: 4rem;
        text-decoration: underline;

        @media only screen and (max-width: $medium-small) {
            font-size: 1.25rem;
            padding-left: 2rem;
        }

        @media only screen and (max-width: $small) {
            font-size: 0.9rem;
            padding-left: 1rem;
        }
    }

    p {
        letter-spacing: 1px;
        line-height: 1.5rem;
        padding: 0 2rem;

        @media only screen and (max-width: $medium-small) {
            padding: 0 1rem;
        }

        @media only screen and (max-width: $small) {
            padding: 0 0.5rem;
        }

    }
}